<nav class="navbar navbar-expand  navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Receipe Book</a>
        </div>

        <div class="collapse navbar-collapse justify-content-between">
            <ul class="nav navbar-nav">
                <li><a class="nav-link" href="#">Receipe</a></li>
                <li><a class="nav-link" href="#">Shopping List</a></li>

                
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="nav-link dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="nav-item dropdown-menu">
                        <li><a href="#">Save Data</a></li>
                        <li><a href="#">Save Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
